.cu-loadingbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

.cu-loadingbar__schedule {
  height: 2px;
  width: 50%;
  background: var(--cu-loadingbar-bg, var(--cu-color-primary));
  transition: width 200ms linear, background 100ms;
}

.cu-loadingbar__schedule.error {
  background: var(--cu-loadingbar-bg-error, var(--cu-color-danger));
}

.cu-loadingbar__schedule.finish {
  background: var(--cu-loadingbar-bg-finish, var(--cu-color-primary));
}

.loadingbar-leave-active {
  transition: opacity 400ms ease !important;
}

.loadingbar-leave-to {
  opacity: 0;
}
