.cu-menu {
  --cu-menu-bg: transparent;
  --cu-menu-bg-active: var(--cu-color-primary-light9);
  --cu-menu-textcolor: var(--cu-text-color);
  --cu-menu-textcolor-active: var(--cu-color-primary);
  --cu-menu-bg-hover: var(--cu-menu-bg-active);
  --cu-menu-textcolor-hover: var(--cu-menu-textcolor-active);
  --cu-menu-height: 48px;
  --cu-menu-base-padding: 20px;
  padding: 4px;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: var(--cu-menu-textcolor);
  background: var(--cu-menu-bg);
  list-style: none;
  transition: all 300ms ease-in-out;
}

.cu-menu.is-horizontal {
  display: flex;
}

.cu-menu.menu-collapse {
  width: calc(var(--cu-menu-base-padding) * 3 + 8px);
}

.cu-menu.menu-collapse .cu-sub-menu .cu-sub-menu__head,
.cu-menu.menu-collapse .cu-menu-item {
  text-overflow: initial;
}

.cu-sub-menu {
  position: relative;
  font-size: 14px;
}
.cu-sub-menu .cu-sub-menu__head {
  width: 100%;
  height: var(--cu-menu-height);
  line-height: var(--cu-menu-height);
  padding: 0 calc(var(--cu-menu-base-padding) + 10px) 0 var(--cu-menu-base-padding);
  cursor: pointer;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: var(--cu-border-radius);
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  color: var(--cu-menu-textcolor);
}

.cu-sub-menu__content .cu-menu-item,
.cu-sub-menu__content .cu-sub-menu__head {
  padding-left: var(--cu-menu-padding, var(--cu-menu-base-padding));
}

.cu-menu.menu-collapse > .cu-sub-menu .cu-sub-menu__head {
  padding: 0 var(--cu-menu-base-padding);
}
.cu-sub-menu .cu-sub-menu__head .suffix-icon {
  position: absolute;
  top: 50%;
  right: calc(var(--cu-menu-base-padding) / 2);
  translate: 0 -50%;
  z-index: 1;
  line-height: initial;
  text-align: center;
  transition: transform 300ms ease-in-out;
}

.cu-sub-menu .cu-sub-menu__head .suffix-icon.unfold {
  transform: rotate(90deg);
}

.cu-sub-menu__content {
  list-style: none;
}

.cu-menu-item {
  height: var(--cu-menu-height);
  line-height: var(--cu-menu-height);
  font-size: 14px;
  padding: 0 var(--cu-menu-base-padding);
  cursor: pointer;
  color: var(--cu-menu-textcolor);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  border-radius: var(--cu-border-radius);
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

.cu-menu__icon {
  margin-right: 4px;
  width: var(--cu-menu-base-padding);
}

.cu-menu.menu-collapse .cu-menu__icon {
  margin-right: 0;
}

.cu-sub-menu .cu-sub-menu__head:hover,
.cu-menu-item:hover {
  color: var(--cu-menu-textcolor-hover);
  background: var(--cu-menu-bg-hover);
}

.cu-menu-item.is-active {
  color: var(--cu-menu-textcolor-active);
  background: var(--cu-menu-bg-active);
}
.cu-sub-menu.is-active > .cu-sub-menu__head {
  color: var(--cu-menu-textcolor-active);
}

.cu-menu.is-vertical .cu-menu-item,
.cu-menu.is-vertical .cu-sub-menu,
.cu-menu-popper .cu-menu-item,
.cu-menu-popper .cu-sub-menu {
  margin-top: 4px;
}
.cu-menu.is-vertical > .cu-menu-item:first-of-type,
.cu-menu-popper .cu-sub-menu__content > .cu-menu-item:first-of-type {
  margin-top: 0;
}

.cu-menu.is-horizontal .cu-sub-menu .cu-sub-menu__head .suffix-icon.unfold {
  transform: rotate(180deg);
}

.cu-menu-popper {
  transform-origin: center top;
  min-width: 200px;
  border: 1px solid var(--cu-border-color);
  border-radius: var(--cu-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

.cu-menu-popper .cu-sub-menu .cu-sub-menu__head .suffix-icon {
  font-size: 14px;
  transform: rotate(-90deg);
}

.cu-menu-popper .cu-sub-menu .cu-sub-menu__head .suffix-icon.unfold {
  transform: rotate(90deg);
}

.cu-menu-popper .cu-sub-menu__content {
  --cu-menu-bg: transparent;
  --cu-menu-bg-active: var(--cu-color-primary-light9);
  --cu-menu-textcolor: var(--cu-text-color);
  --cu-menu-textcolor-active: var(--cu-color-primary);
  --cu-menu-bg-hover: var(--cu-menu-bg-active);
  --cu-menu-textcolor-hover: var(--cu-menu-textcolor-active);
  --cu-menu-height: 48px;
  --cu-menu-base-padding: 20px;
  padding: 4px;
  border-radius: var(--cu-border-radius);
  background: var(--cu-menu-bg);
}

.cu-menu.is-horizontal > .cu-menu-item,
.cu-menu.is-horizontal .cu-sub-menu .cu-sub-menu__head {
  border-radius: 0;
}
.cu-menu.is-horizontal > .cu-menu-item::after,
.cu-menu.is-horizontal > .cu-sub-menu .cu-sub-menu__head::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  width: 0;
  transform: translateX(-50%);
  height: 2px;
  background: var(--cu-menu-textcolor-active);
  transition: width 300ms ease-in-out;
}

.cu-menu.is-horizontal > li {
  margin: 0 8px;
}

.cu-menu.is-horizontal > .cu-menu-item.is-active,
.cu-menu.is-horizontal > .cu-menu-item:hover,
.cu-menu.is-horizontal > .cu-sub-menu.is-active .cu-sub-menu__head,
.cu-menu.is-horizontal > .cu-sub-menu:hover .cu-sub-menu__head {
  background: transparent;
}

.cu-menu.is-horizontal > .cu-menu-item.is-active::after,
.cu-menu.is-horizontal > .cu-menu-item:hover::after,
.cu-menu.is-horizontal > .cu-sub-menu.is-active .cu-sub-menu__head::after,
.cu-menu.is-horizontal > .cu-sub-menu:hover .cu-sub-menu__head::after {
  width: 100%;
}

.cu-menu-popper[data-placement^='top'] {
  transform-origin: center bottom;
}

.cu-menu-popper[data-placement^='right-end'] {
  transform-origin: center bottom;
}

.cu-menu-popper-enter-from,
.cu-menu-popper-leave-to {
  transform: scaleY(0);
}

.cu-menu-popper-enter-active,
.cu-menu-popper-leave-active {
  transition: transform 300ms ease-in-out !important;
}
