.cu-schedule {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: var(--cu-text-color);
  display: flex;
  flex-direction: column;
}

.cu-schedule--flexbox {
  display: flex;

  overflow: hidden;
}

.cu-schedule-header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  flex-grow: 0;
  border-bottom: 1px solid var(--cu-border-color);
}

.cu-schedule-header__time {
  font-size: 22px;
  font-weight: 900;
}

.cu-schedule-calendar {
  width: 280px;
  padding: 8px;
  font-size: 13px;
  user-select: none;
  border-left: 1px solid var(--cu-border-color);
  display: flex;
  flex-direction: column;
}

.cu-schedule-calendar__table {
  border-bottom: 1px solid var(--cu-border-color);
}

.cu-schedule-calendar__extra {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.cu-schedule-calendar__header {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.cu-schedule-calendar__th {
  font-size: 13px;
  font-weight: normal;
}

.cu-schedule-calendar__td {
  color: var(--cu-text-color-light3);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.cu-schedule-calendar__td:hover {
  background-color: var(--cu-background-color-light);
  color: var(--cu-text-color-light2);
}

.cu-schedule-calendar__td.is-prev,
.cu-schedule-calendar__td.is-next {
  color: var(--cu-text-color-light6);
}

.cu-schedule-calendar__td.is-today {
  background-color: var(--cu-background-color-light);
  color: var(--cu-text-color-light2);
  font-weight: 700;
}

.cu-schedule-calendar__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.cu-schedule-calendar__cell .dot {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 4px;
  height: 4px;
  background-color: var(--cu-color-danger);
  border-radius: 50%;
}

.cu-schedule-content {
  flex: 1;
  color: var(--cu-text-color);
  font-size: 13px;
  display: flex;
  padding: 10px;
  overflow: auto;
  position: relative;
}

.cu-schedule-list--warpper {
  flex: 1;
  position: relative;
}

.loading-mask {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--cu-text-color-light3);
  z-index: 2;
}

.cu-schedule-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  position: relative;
  z-index: 1;
}

.cu-schedule-list__li {
  height: 100px;
  display: flex;
}

.cu-schedule-list__time {
  padding-right: 8px;
  font-size: 12px;
  position: relative;
  width: 40px;
}
.cu-schedule-list__time > span {
  position: absolute;
  top: 0;
  display: block;
}

.cu-schedule-list__line {
  flex: 1;
  width: 0;
  height: 0;
  border-top: 1px dashed var(--cu-border-color);
}

.cu-schedule-cards--warpper {
  padding-left: 40px;
}

.cu-schedule-cards {
  position: absolute;
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: nowrap;
}

.cu-schedule-cards--warpper .cu-schedule-cards {
  box-sizing: content-box;
}

.cu-schedule-card {
  flex: 1;
  min-width: 200px;
  position: relative;
  transition: transform 200ms;
  z-index: 1;
  padding: 1px 0;
}

.cu-schedule-defaultcard {
  width: 100%;
  height: 100%;
  padding: 4px 4px 4px 6px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: color-mix(in srgb, var(--card-color, var(--cu-color-primary)), white 90%);
  border-radius: inherit;
  color: var(--card-color);
}
.cu-schedule-defaultcard::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--card-color, var(--cu-color-primary));
  width: 4px;
}

.cu-schedule-defaultcard__content {
  flex: 1;
  font-size: 14px;
}

.cu-schedule-defaultcard .timer {
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.cu-schedule-empty {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  padding: 60px 40px 0;
  text-align: center;
}
