.cu-date-picker__content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 8px;
}

.cu-date-picker__content .cu-input__inner {
  cursor: inherit;
}

.cu-date-picker__content .prefix-icon {
  min-width: 22px;
  padding-right: 8px;
  box-sizing: border-box;
  cursor: inherit;
  transition: transform 200ms;
  line-height: 1;
  color: var(--cu-text-color-light6);
}

.cu-date-picker__content .clearable {
  min-width: 22px;
  padding-left: 8px;
  box-sizing: border-box;
  color: var(--cu-text-color-light6);
  line-height: 1;
}

.cu-date-picker__content .clearable i {
  cursor: pointer;
  display: none;
}
.cu-date-picker:hover .clearable i {
  display: initial;
}

.cu-date-picker__content .clearable i:hover {
  color: var(--cu-text-color);
}

.cu-date-picker__popper {
  font-size: 13px;
  color: var(--cu-text-color-light2);
}
.cu-date-picker__popper.is-range .cu-date-picker__select {
  padding: 4px;
}

.cu-date-picker__select {
  width: 280px;
}
.cu-data-picker__select-head {
  padding: 8px;
  display: flex;
  align-items: center;
}

.cu-data-picker__select-head .head-content {
  flex: 1;
  justify-content: center;
  font-size: 15px;
  align-items: center;
  display: flex;
}

.cu-data-picker__select-head .head-content > span {
  padding: 0 4px;
  cursor: pointer;
}
.cu-data-picker__select-head .head-content > span.not-hover {
  cursor: initial;
}

.cu-data-picker__select-head i {
  font-size: 18px;
  cursor: pointer;
  display: inline-flex;
}

.cu-data-picker__select-head i:hover,
.cu-data-picker__select-head span:not(.not-hover):hover {
  color: var(--cu-color-primary);
}

.cu-data-picker__select-content {
  width: 100%;
}

.cu-data-picker__select-week {
  font-size: 12px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--cu-border-color);
}

.cu-data-picker__select-week > span {
  flex: 1;
  height: 32px;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}
.cu-data-picker__table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 4px;
}

.cu-data-picker__table td {
  padding: 4px 0;
  cursor: pointer;
  text-align: center;
}

.cu-date__cell {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  transition: all 200ms ease;
  font-size: 12px;
}

.cu-data-picker__table .is-notcur:not(.is-disabled) {
  color: var(--cu-text-color-light6);
}

.cu-data-picker__div {
  display: flex;
  flex-wrap: wrap;
}
.cu-data-picker__div > div {
  width: 25%;
  height: 40px;
  cursor: pointer;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cu-data-picker__div .cu-date__divcell {
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  border-radius: 12px;
}

.cu-data-picker__table td:not(.is-disabled):hover .cu-date__cell,
.cu-data-picker__div > div:hover .cu-date__divcell {
  color: var(--cu-color-primary);
  /* background-color: var(--cu-color-primary-light9); */
}

.cu-data-picker__table td:not(.is-disabled).is-selected .cu-date__cell,
.cu-data-picker__div > div.is-selected .cu-date__divcell {
  color: #fff;
  background-color: var(--cu-color-primary);
}

.cu-data-picker__table td.is-contain-start:not(.is-notcur),
.cu-data-picker__table td.is-contain-end:not(.is-notcur),
.cu-data-picker__table td.is-contain:not(.is-notcur) {
  background-color: var(--cu-color-primary-light9);
  color: var(--cu-color-primary);
}

.cu-data-picker__table td.is-contain-start {
  border-radius: 16px 0 0 16px;
}
.cu-data-picker__table td.is-contain-end {
  border-radius: 0 16px 16px 0;
}

.cu-data-picker__table .is-disabled {
  background-color: var(--cu-background-color-disabled);
  color: var(--cu-text-color-light5);
  cursor: no-drop;
}

.cu-date-picker__footer {
  border-top: 1px solid var(--cu-border-color);
  padding: 4px 8px;
  display: flex;
  justify-content: flex-end;
}

.cu-date-table__box {
  padding: 10px;
  display: flex;
}
.cu-date-table__box > div + div {
  border-left: 1px solid var(--cu-border-color);
}
.cu-date-table__box .cu-date-table__box {
  padding: 0;
}

.cu-date-table__box .shortcuts {
  padding: 0 4px;
  width: 80px;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
}
.cu-date-table__box .shortcuts > span:hover {
  color: var(--cu-color-primary);
  cursor: pointer;
}
